.jumbotron{
    background-color: rgb(41, 41, 41);
    padding: 50px;
    color: white;
}
.desc-box{
    margin: 35px 0 35px 0;
}
.article-card{
    margin: 5px;
}
footer{
    margin:10px 0 0 0;
    padding: 5px;
    background-color: rgb(41, 41, 41);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}