.jumbotron{
    background-color: rgb(41, 41, 41);
    padding: 15px;
    color: white;
}
footer{
    margin:10px 0px 0px 0px;
    padding: 5px;
    background-color: rgb(41, 41, 41);
    color: white;
}