.jumbotron{
    background-color: rgb(41, 41, 41);
    padding: 50px;
    color: white;
}
.desc-box{
    margin: 25px 0 35px 0;
    padding: 20px;
    border-bottom: solid 1px rgb(41, 41, 41, 0.1);
}
.desc-card{
    padding: 15px;
    margin: 15px;
}
.article-box{
    margin-bottom: 35px;
}
.article-card{
    margin: 5px;
    padding: 10px; 
    border: solid 1px rgb(41, 41, 41, 0.1);
    border-radius: 3px;
    overflow: hidden;
}
.btn{
    float: right;
}
footer{
    margin:10px 0 0 0;
    padding: 20px 0 10px 0;
    background-color: rgb(41, 41, 41);
    color: white;
    bottom: 0;
    width: 100%;
}